
.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

@keyframes slidein{
    100% {rotate: 360deg}
}


.movie-list{
    padding: 24px 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    list-style: none;
    width: 100%;
}